.app_brown_theme {
    --dark-bg-redesigned: #574c46;
    --bg-redesigned: #7d6b63;
    --light-bg-redesigned: #a79186;
    --text-redesigned: #f0ede9;
    --hint-redesigned: #c1b7b2;
    --cancel-redesigned: #e57c6a;
    --save-redesigned: #bc987d;
    --icon-redesigned: #fff;
    --accent-redesigned: #d4c4b3;
}
