.app_dark_theme {
    --bg-color: #1e1e1e;
    --inverted-bg-color: #c2c1c1;
    --primary-color: #ff4081;
    --secondary-color: #00bcd4;
    --inverted-primary-color: #3f51b5;
    --inverted-secondary-color: #ff9800;
}
