.app.light {
  --bg-color: #c2c1c1;
  --inverted-bg-color: #1E1E1E;
  --primary-color: #3F51B5;
  --secondary-color: #FF9800;
  --inverted-primary-color: #FF4081;
  --inverted-secondary-color: #00BCD4;
}