.app_orange_theme {
    --bg-color: #f5f5f5;
    --inverted-bg-color: #333;
    --primary-color: #ffa500;
    --secondary-color: #ffc966;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #e6e6e6;
}
