.app_purple_theme {
    --dark-bg-redesigned: #3a1c40;
    --bg-redesigned: #63216f;
    --light-bg-redesigned: #a051a1;
    --text-redesigned: #f0f0f0;
    --hint-redesigned: #cfa6cf;
    --cancel-redesigned: #e573e5;
    --save-redesigned: #b84cb8;
    --icon-redesigned: #fff;
    --accent-redesigned: #d292d2;
}
