.app_red_theme {
    --dark-bg-redesigned: #5a1c1c;
    --bg-redesigned: #802626;
    --light-bg-redesigned: #aa4949;
    --text-redesigned: #f0f0f0;
    --hint-redesigned: #cfa6a6;
    --cancel-redesigned: #e57373;
    --save-redesigned: #d04545;
    --icon-redesigned: #fff;
    --accent-redesigned: #d29292;
}
