.app_yellow_theme {
    --dark-bg-redesigned: #5d511c;
    --bg-redesigned: #81732b;
    --light-bg-redesigned: #afa65a;
    --text-redesigned: #fff;
    --hint-redesigned: #c5c59c;
    --cancel-redesigned: #e5c06a;
    --save-redesigned: #f0d45a;
    --icon-redesigned: #fff;
    --accent-redesigned: #d4c388;
}
