.app_yellow_theme {
  --dark-bg-redesigned: #5d511c;
  --bg-redesigned: #81732b;
  --light-bg-redesigned: #afa65a;
  --text-redesigned: #ffffff;
  --hint-redesigned: #c5c59c;
  --cancel-redesigned: #e5c06a;
  --save-redesigned: #f0d45a;
  --icon-redesigned: #ffffff;
  --accent-redesigned: #d4c388;
}