.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    opacity: 0.8;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loading,
.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.avatar {
    border-radius: 50%;
}

.editing {
    opacity: 1;
}
